<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.industryhive.dao.AuthorityMapper">
  <resultMap id="BaseResultMap" type="net.industryhive.bean.Authority">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="banAccount" jdbcType="BIT" property="banaccount" />
    <result column="banSubmitTopic" jdbcType="BIT" property="bansubmittopic" />
    <result column="banSubmitReply" jdbcType="BIT" property="bansubmitreply" />
    <result column="banMessage" jdbcType="BIT" property="banmessage" />
    <result column="deleteTopic" jdbcType="BIT" property="deletetopic" />
    <result column="deleteReply" jdbcType="BIT" property="deletereply" />
    <result column="lockTopic" jdbcType="BIT" property="locktopic" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, banAccount, banSubmitTopic, banSubmitReply, banMessage, deleteTopic, deleteReply, 
    lockTopic
  </sql>
  <select id="selectByExample" parameterType="net.industryhive.bean.AuthorityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from authority
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from authority
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from authority
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="net.industryhive.bean.AuthorityExample">
    delete from authority
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.industryhive.bean.Authority">
    insert into authority (id, banAccount, banSubmitTopic, 
      banSubmitReply, banMessage, deleteTopic, 
      deleteReply, lockTopic)
    values (#{id,jdbcType=INTEGER}, #{banaccount,jdbcType=BIT}, #{bansubmittopic,jdbcType=BIT}, 
      #{bansubmitreply,jdbcType=BIT}, #{banmessage,jdbcType=BIT}, #{deletetopic,jdbcType=BIT}, 
      #{deletereply,jdbcType=BIT}, #{locktopic,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="net.industryhive.bean.Authority">
    insert into authority
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="banaccount != null">
        banAccount,
      </if>
      <if test="bansubmittopic != null">
        banSubmitTopic,
      </if>
      <if test="bansubmitreply != null">
        banSubmitReply,
      </if>
      <if test="banmessage != null">
        banMessage,
      </if>
      <if test="deletetopic != null">
        deleteTopic,
      </if>
      <if test="deletereply != null">
        deleteReply,
      </if>
      <if test="locktopic != null">
        lockTopic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="banaccount != null">
        #{banaccount,jdbcType=BIT},
      </if>
      <if test="bansubmittopic != null">
        #{bansubmittopic,jdbcType=BIT},
      </if>
      <if test="bansubmitreply != null">
        #{bansubmitreply,jdbcType=BIT},
      </if>
      <if test="banmessage != null">
        #{banmessage,jdbcType=BIT},
      </if>
      <if test="deletetopic != null">
        #{deletetopic,jdbcType=BIT},
      </if>
      <if test="deletereply != null">
        #{deletereply,jdbcType=BIT},
      </if>
      <if test="locktopic != null">
        #{locktopic,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.industryhive.bean.AuthorityExample" resultType="java.lang.Long">
    select count(*) from authority
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update authority
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.banaccount != null">
        banAccount = #{record.banaccount,jdbcType=BIT},
      </if>
      <if test="record.bansubmittopic != null">
        banSubmitTopic = #{record.bansubmittopic,jdbcType=BIT},
      </if>
      <if test="record.bansubmitreply != null">
        banSubmitReply = #{record.bansubmitreply,jdbcType=BIT},
      </if>
      <if test="record.banmessage != null">
        banMessage = #{record.banmessage,jdbcType=BIT},
      </if>
      <if test="record.deletetopic != null">
        deleteTopic = #{record.deletetopic,jdbcType=BIT},
      </if>
      <if test="record.deletereply != null">
        deleteReply = #{record.deletereply,jdbcType=BIT},
      </if>
      <if test="record.locktopic != null">
        lockTopic = #{record.locktopic,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update authority
    set id = #{record.id,jdbcType=INTEGER},
      banAccount = #{record.banaccount,jdbcType=BIT},
      banSubmitTopic = #{record.bansubmittopic,jdbcType=BIT},
      banSubmitReply = #{record.bansubmitreply,jdbcType=BIT},
      banMessage = #{record.banmessage,jdbcType=BIT},
      deleteTopic = #{record.deletetopic,jdbcType=BIT},
      deleteReply = #{record.deletereply,jdbcType=BIT},
      lockTopic = #{record.locktopic,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.industryhive.bean.Authority">
    update authority
    <set>
      <if test="banaccount != null">
        banAccount = #{banaccount,jdbcType=BIT},
      </if>
      <if test="bansubmittopic != null">
        banSubmitTopic = #{bansubmittopic,jdbcType=BIT},
      </if>
      <if test="bansubmitreply != null">
        banSubmitReply = #{bansubmitreply,jdbcType=BIT},
      </if>
      <if test="banmessage != null">
        banMessage = #{banmessage,jdbcType=BIT},
      </if>
      <if test="deletetopic != null">
        deleteTopic = #{deletetopic,jdbcType=BIT},
      </if>
      <if test="deletereply != null">
        deleteReply = #{deletereply,jdbcType=BIT},
      </if>
      <if test="locktopic != null">
        lockTopic = #{locktopic,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.industryhive.bean.Authority">
    update authority
    set banAccount = #{banaccount,jdbcType=BIT},
      banSubmitTopic = #{bansubmittopic,jdbcType=BIT},
      banSubmitReply = #{bansubmitreply,jdbcType=BIT},
      banMessage = #{banmessage,jdbcType=BIT},
      deleteTopic = #{deletetopic,jdbcType=BIT},
      deleteReply = #{deletereply,jdbcType=BIT},
      lockTopic = #{locktopic,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>