<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.industryhive.dao.AuthorityMapper">
  <resultMap id="BaseResultMap" type="net.industryhive.bean.Authority">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="banAccount" jdbcType="BIT" property="banAccount" />
    <result column="banSubmitTopic" jdbcType="BIT" property="banSubmitTopic" />
    <result column="banSubmitReply" jdbcType="BIT" property="banSubmitReply" />
    <result column="banMessage" jdbcType="BIT" property="banMessage" />
    <result column="deleteTopic" jdbcType="BIT" property="deleteTopic" />
    <result column="deleteReply" jdbcType="BIT" property="deleteReply" />
    <result column="lockTopic" jdbcType="BIT" property="lockTopic" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, banAccount, banSubmitTopic, banSubmitReply, banMessage, deleteTopic, deleteReply, 
    lockTopic
  </sql>
  <select id="selectByExample" parameterType="net.industryhive.bean.AuthorityExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from authority
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from authority
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from authority
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="net.industryhive.bean.AuthorityExample">
    delete from authority
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.industryhive.bean.Authority">
    insert into authority (id, banAccount, banSubmitTopic, 
      banSubmitReply, banMessage, deleteTopic, 
      deleteReply, lockTopic)
    values (#{id,jdbcType=INTEGER}, #{banAccount,jdbcType=BIT}, #{banSubmitTopic,jdbcType=BIT}, 
      #{banSubmitReply,jdbcType=BIT}, #{banMessage,jdbcType=BIT}, #{deleteTopic,jdbcType=BIT}, 
      #{deleteReply,jdbcType=BIT}, #{lockTopic,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="net.industryhive.bean.Authority">
    insert into authority
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="banAccount != null">
        banAccount,
      </if>
      <if test="banSubmitTopic != null">
        banSubmitTopic,
      </if>
      <if test="banSubmitReply != null">
        banSubmitReply,
      </if>
      <if test="banMessage != null">
        banMessage,
      </if>
      <if test="deleteTopic != null">
        deleteTopic,
      </if>
      <if test="deleteReply != null">
        deleteReply,
      </if>
      <if test="lockTopic != null">
        lockTopic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="banAccount != null">
        #{banAccount,jdbcType=BIT},
      </if>
      <if test="banSubmitTopic != null">
        #{banSubmitTopic,jdbcType=BIT},
      </if>
      <if test="banSubmitReply != null">
        #{banSubmitReply,jdbcType=BIT},
      </if>
      <if test="banMessage != null">
        #{banMessage,jdbcType=BIT},
      </if>
      <if test="deleteTopic != null">
        #{deleteTopic,jdbcType=BIT},
      </if>
      <if test="deleteReply != null">
        #{deleteReply,jdbcType=BIT},
      </if>
      <if test="lockTopic != null">
        #{lockTopic,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.industryhive.bean.AuthorityExample" resultType="java.lang.Long">
    select count(*) from authority
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update authority
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.banAccount != null">
        banAccount = #{record.banAccount,jdbcType=BIT},
      </if>
      <if test="record.banSubmitTopic != null">
        banSubmitTopic = #{record.banSubmitTopic,jdbcType=BIT},
      </if>
      <if test="record.banSubmitReply != null">
        banSubmitReply = #{record.banSubmitReply,jdbcType=BIT},
      </if>
      <if test="record.banMessage != null">
        banMessage = #{record.banMessage,jdbcType=BIT},
      </if>
      <if test="record.deleteTopic != null">
        deleteTopic = #{record.deleteTopic,jdbcType=BIT},
      </if>
      <if test="record.deleteReply != null">
        deleteReply = #{record.deleteReply,jdbcType=BIT},
      </if>
      <if test="record.lockTopic != null">
        lockTopic = #{record.lockTopic,jdbcType=BIT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update authority
    set id = #{record.id,jdbcType=INTEGER},
      banAccount = #{record.banAccount,jdbcType=BIT},
      banSubmitTopic = #{record.banSubmitTopic,jdbcType=BIT},
      banSubmitReply = #{record.banSubmitReply,jdbcType=BIT},
      banMessage = #{record.banMessage,jdbcType=BIT},
      deleteTopic = #{record.deleteTopic,jdbcType=BIT},
      deleteReply = #{record.deleteReply,jdbcType=BIT},
      lockTopic = #{record.lockTopic,jdbcType=BIT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.industryhive.bean.Authority">
    update authority
    <set>
      <if test="banAccount != null">
        banAccount = #{banAccount,jdbcType=BIT},
      </if>
      <if test="banSubmitTopic != null">
        banSubmitTopic = #{banSubmitTopic,jdbcType=BIT},
      </if>
      <if test="banSubmitReply != null">
        banSubmitReply = #{banSubmitReply,jdbcType=BIT},
      </if>
      <if test="banMessage != null">
        banMessage = #{banMessage,jdbcType=BIT},
      </if>
      <if test="deleteTopic != null">
        deleteTopic = #{deleteTopic,jdbcType=BIT},
      </if>
      <if test="deleteReply != null">
        deleteReply = #{deleteReply,jdbcType=BIT},
      </if>
      <if test="lockTopic != null">
        lockTopic = #{lockTopic,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.industryhive.bean.Authority">
    update authority
    set banAccount = #{banAccount,jdbcType=BIT},
      banSubmitTopic = #{banSubmitTopic,jdbcType=BIT},
      banSubmitReply = #{banSubmitReply,jdbcType=BIT},
      banMessage = #{banMessage,jdbcType=BIT},
      deleteTopic = #{deleteTopic,jdbcType=BIT},
      deleteReply = #{deleteReply,jdbcType=BIT},
      lockTopic = #{lockTopic,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>