<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.industryhive.dao.UserMapper">
  <resultMap id="BaseResultMap" type="net.industryhive.bean.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="account" jdbcType="VARCHAR" property="account" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="countryCode" jdbcType="VARCHAR" property="countrycode" />
    <result column="mobile" jdbcType="VARCHAR" property="mobile" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="gender" jdbcType="INTEGER" property="gender" />
    <result column="authority_id" jdbcType="INTEGER" property="authorityId" />
    <result column="bannedTopic" jdbcType="BIT" property="bannedtopic" />
    <result column="bannedReply" jdbcType="BIT" property="bannedreply" />
    <result column="bannedMessage" jdbcType="BIT" property="bannedmessage" />
    <result column="locded" jdbcType="BIT" property="locded" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="topicCount" jdbcType="INTEGER" property="topiccount" />
    <result column="replyCount" jdbcType="INTEGER" property="replycount" />
    <result column="loginCount" jdbcType="INTEGER" property="logincount" />
    <result column="registerTime" jdbcType="TIMESTAMP" property="registertime" />
    <result column="photo" jdbcType="VARCHAR" property="photo" />
    <result column="comeFrom" jdbcType="VARCHAR" property="comefrom" />
    <result column="introduction" jdbcType="VARCHAR" property="introduction" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, account, password, username, countryCode, mobile, email, gender, authority_id,
    bannedTopic, bannedReply, bannedMessage, locded, deleted, topicCount, replyCount,
    loginCount, registerTime, photo, comeFrom, introduction
  </sql>
  <select id="selectByExample" parameterType="net.industryhive.bean.UserExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from user
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="net.industryhive.bean.UserExample">
    delete from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.industryhive.bean.User">
    insert into user (id, account, password,
      username, countryCode, mobile,
      email, gender, authority_id,
      bannedTopic, bannedReply, bannedMessage,
      locded, deleted, topicCount,
      replyCount, loginCount, registerTime,
      photo, comeFrom, introduction
      )
    values (#{id,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR},
      #{username,jdbcType=VARCHAR}, #{countrycode,jdbcType=VARCHAR}, #{mobile,jdbcType=VARCHAR},
      #{email,jdbcType=VARCHAR}, #{gender,jdbcType=INTEGER}, #{authorityId,jdbcType=INTEGER},
      #{bannedtopic,jdbcType=BIT}, #{bannedreply,jdbcType=BIT}, #{bannedmessage,jdbcType=BIT},
      #{locded,jdbcType=BIT}, #{deleted,jdbcType=BIT}, #{topiccount,jdbcType=INTEGER},
      #{replycount,jdbcType=INTEGER}, #{logincount,jdbcType=INTEGER}, #{registertime,jdbcType=TIMESTAMP},
      #{photo,jdbcType=VARCHAR}, #{comefrom,jdbcType=VARCHAR}, #{introduction,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.industryhive.bean.User" useGeneratedKeys="true" keyProperty="id">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="account != null">
        account,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="countrycode != null">
        countryCode,
      </if>
      <if test="mobile != null">
        mobile,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="authorityId != null">
        authority_id,
      </if>
      <if test="bannedtopic != null">
        bannedTopic,
      </if>
      <if test="bannedreply != null">
        bannedReply,
      </if>
      <if test="bannedmessage != null">
        bannedMessage,
      </if>
      <if test="locded != null">
        locded,
      </if>
      <if test="deleted != null">
        deleted,
      </if>
      <if test="topiccount != null">
        topicCount,
      </if>
      <if test="replycount != null">
        replyCount,
      </if>
      <if test="logincount != null">
        loginCount,
      </if>
      <if test="registertime != null">
        registerTime,
      </if>
      <if test="photo != null">
        photo,
      </if>
      <if test="comefrom != null">
        comeFrom,
      </if>
      <if test="introduction != null">
        introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="account != null">
        #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="countrycode != null">
        #{countrycode,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=INTEGER},
      </if>
      <if test="authorityId != null">
        #{authorityId,jdbcType=INTEGER},
      </if>
      <if test="bannedtopic != null">
        #{bannedtopic,jdbcType=BIT},
      </if>
      <if test="bannedreply != null">
        #{bannedreply,jdbcType=BIT},
      </if>
      <if test="bannedmessage != null">
        #{bannedmessage,jdbcType=BIT},
      </if>
      <if test="locded != null">
        #{locded,jdbcType=BIT},
      </if>
      <if test="deleted != null">
        #{deleted,jdbcType=BIT},
      </if>
      <if test="topiccount != null">
        #{topiccount,jdbcType=INTEGER},
      </if>
      <if test="replycount != null">
        #{replycount,jdbcType=INTEGER},
      </if>
      <if test="logincount != null">
        #{logincount,jdbcType=INTEGER},
      </if>
      <if test="registertime != null">
        #{registertime,jdbcType=TIMESTAMP},
      </if>
      <if test="photo != null">
        #{photo,jdbcType=VARCHAR},
      </if>
      <if test="comefrom != null">
        #{comefrom,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        #{introduction,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.industryhive.bean.UserExample" resultType="java.lang.Long">
    select count(*) from user
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update user
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.account != null">
        account = #{record.account,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
      <if test="record.username != null">
        username = #{record.username,jdbcType=VARCHAR},
      </if>
      <if test="record.countrycode != null">
        countryCode = #{record.countrycode,jdbcType=VARCHAR},
      </if>
      <if test="record.mobile != null">
        mobile = #{record.mobile,jdbcType=VARCHAR},
      </if>
      <if test="record.email != null">
        email = #{record.email,jdbcType=VARCHAR},
      </if>
      <if test="record.gender != null">
        gender = #{record.gender,jdbcType=INTEGER},
      </if>
      <if test="record.authorityId != null">
        authority_id = #{record.authorityId,jdbcType=INTEGER},
      </if>
      <if test="record.bannedtopic != null">
        bannedTopic = #{record.bannedtopic,jdbcType=BIT},
      </if>
      <if test="record.bannedreply != null">
        bannedReply = #{record.bannedreply,jdbcType=BIT},
      </if>
      <if test="record.bannedmessage != null">
        bannedMessage = #{record.bannedmessage,jdbcType=BIT},
      </if>
      <if test="record.locded != null">
        locded = #{record.locded,jdbcType=BIT},
      </if>
      <if test="record.deleted != null">
        deleted = #{record.deleted,jdbcType=BIT},
      </if>
      <if test="record.topiccount != null">
        topicCount = #{record.topiccount,jdbcType=INTEGER},
      </if>
      <if test="record.replycount != null">
        replyCount = #{record.replycount,jdbcType=INTEGER},
      </if>
      <if test="record.logincount != null">
        loginCount = #{record.logincount,jdbcType=INTEGER},
      </if>
      <if test="record.registertime != null">
        registerTime = #{record.registertime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.photo != null">
        photo = #{record.photo,jdbcType=VARCHAR},
      </if>
      <if test="record.comefrom != null">
        comeFrom = #{record.comefrom,jdbcType=VARCHAR},
      </if>
      <if test="record.introduction != null">
        introduction = #{record.introduction,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update user
    set id = #{record.id,jdbcType=INTEGER},
      account = #{record.account,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR},
      username = #{record.username,jdbcType=VARCHAR},
      countryCode = #{record.countrycode,jdbcType=VARCHAR},
      mobile = #{record.mobile,jdbcType=VARCHAR},
      email = #{record.email,jdbcType=VARCHAR},
      gender = #{record.gender,jdbcType=INTEGER},
      authority_id = #{record.authorityId,jdbcType=INTEGER},
      bannedTopic = #{record.bannedtopic,jdbcType=BIT},
      bannedReply = #{record.bannedreply,jdbcType=BIT},
      bannedMessage = #{record.bannedmessage,jdbcType=BIT},
      locded = #{record.locded,jdbcType=BIT},
      deleted = #{record.deleted,jdbcType=BIT},
      topicCount = #{record.topiccount,jdbcType=INTEGER},
      replyCount = #{record.replycount,jdbcType=INTEGER},
      loginCount = #{record.logincount,jdbcType=INTEGER},
      registerTime = #{record.registertime,jdbcType=TIMESTAMP},
      photo = #{record.photo,jdbcType=VARCHAR},
      comeFrom = #{record.comefrom,jdbcType=VARCHAR},
      introduction = #{record.introduction,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.industryhive.bean.User">
    update user
    <set>
      <if test="account != null">
        account = #{account,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="username != null">
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="countrycode != null">
        countryCode = #{countrycode,jdbcType=VARCHAR},
      </if>
      <if test="mobile != null">
        mobile = #{mobile,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=INTEGER},
      </if>
      <if test="authorityId != null">
        authority_id = #{authorityId,jdbcType=INTEGER},
      </if>
      <if test="bannedtopic != null">
        bannedTopic = #{bannedtopic,jdbcType=BIT},
      </if>
      <if test="bannedreply != null">
        bannedReply = #{bannedreply,jdbcType=BIT},
      </if>
      <if test="bannedmessage != null">
        bannedMessage = #{bannedmessage,jdbcType=BIT},
      </if>
      <if test="locded != null">
        locded = #{locded,jdbcType=BIT},
      </if>
      <if test="deleted != null">
        deleted = #{deleted,jdbcType=BIT},
      </if>
      <if test="topiccount != null">
        topicCount = #{topiccount,jdbcType=INTEGER},
      </if>
      <if test="replycount != null">
        replyCount = #{replycount,jdbcType=INTEGER},
      </if>
      <if test="logincount != null">
        loginCount = #{logincount,jdbcType=INTEGER},
      </if>
      <if test="registertime != null">
        registerTime = #{registertime,jdbcType=TIMESTAMP},
      </if>
      <if test="photo != null">
        photo = #{photo,jdbcType=VARCHAR},
      </if>
      <if test="comefrom != null">
        comeFrom = #{comefrom,jdbcType=VARCHAR},
      </if>
      <if test="introduction != null">
        introduction = #{introduction,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.industryhive.bean.User">
    update user
    set account = #{account,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      username = #{username,jdbcType=VARCHAR},
      countryCode = #{countrycode,jdbcType=VARCHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=INTEGER},
      authority_id = #{authorityId,jdbcType=INTEGER},
      bannedTopic = #{bannedtopic,jdbcType=BIT},
      bannedReply = #{bannedreply,jdbcType=BIT},
      bannedMessage = #{bannedmessage,jdbcType=BIT},
      locded = #{locded,jdbcType=BIT},
      deleted = #{deleted,jdbcType=BIT},
      topicCount = #{topiccount,jdbcType=INTEGER},
      replyCount = #{replycount,jdbcType=INTEGER},
      loginCount = #{logincount,jdbcType=INTEGER},
      registerTime = #{registertime,jdbcType=TIMESTAMP},
      photo = #{photo,jdbcType=VARCHAR},
      comeFrom = #{comefrom,jdbcType=VARCHAR},
      introduction = #{introduction,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <!--===============================================================================================================-->
  <update id="updateTopicCountByPrimaryKey" parameterType="java.lang.Integer">
      update user set topicCount=topicCount+1 where id=#{id}
  </update>
  <!--===============================================================================================================-->
</mapper>
